{{> user-nav give-award='true'}}
<section class='award-wrapper'>
	<h1> Give An Award </h1>
	<p>Noticed an outstanding acheivement from a fellow co-worker? Fill out the form below to give them a award!</p>
	<form id="addForm">
		<div class="form-group">
			<label for="email">Recipient Email:</label>
			<select class="form-control" id="receipientID" data-toggle="popover" data-placement="left" data-content="Required">
				<option disabled="" selected="">Please Select A Receipient</option>
				{{#each userList}}
					<option value="{{this.userID}}">{{this.email}}</option>
				{{/each}}
			</select>
		</div>
		<div class="dropdown form-group">
			<label for="cert-type">Select Certificate Type:</label>
			<select class="form-control" id="awardTypeID" data-toggle="popover" data-placement="left" data-content="Required">
				<option disabled="" selected="">Please Select A Certificate</option>
				{{#each awardList}}
					<option value="{{this.awardTypeID}}">{{this.name}}</option>
				{{/each}}
			</select>
		</div>
		<div style="overflow:hidden;">
			<div class="form-group">
				<label for="datetime">Time and Date Issued</label>
	            <div class='input-group date' id='datetime'>
	            	<input type="text" class="form-control">
	            	<span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
	            </div>
	        </div>
	    </div>
		<br>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</section>
<link rel="stylesheet" type="text/css" href="../public/awards.css">
<script type="text/javascript" src="../public/addAward.js"></script>
<style>
.bootstrap-datetimepicker-widget{z-index:1151 !important;}
</style>