{{> user-nav previous-award='true'}}
<section class='award-wrapper'>
	<h1>Previously Issued Awards</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Date Issued</th>
				<th>Time Issued</th>
				<th>Issued To</th>
				<th>Certificate Type</th>
				<th>Delete Award</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>01/01/2016</td>
				<td>10:10am</td>
				<td>Bob Jones</td>
				<td>Employee of the month</td>
				<td>
					<button>Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</section>
<link rel="stylesheet" type="text/css" href="../public/awards.css">