<div class="container">
  <section name="login" class="wrapper-signin">
    <form class="form-signin" method="post" action="/login">       
      <h2 class="form-signin-heading">Login</h2>
      <input type="text" class="form-control" name="username" placeholder="Username"  autofocus="" />
      <input type="password" class="form-control" name="password" placeholder="Password" />    
      <label class="checkbox">
        <input type="checkbox" value="admin" id="admin" name="admin-login"> Login As Administrator
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
    <a href="/login/reset-password">Forgot Password?</a>
  </section>
</div>
<link rel="stylesheet" type="text/css" href="public/login.css">