<div class="container">
  <section name="get-code" class="wrapper-signin">
    <form class="form-signin" method="post" action="/login/reset-password">       
      <h2 class="form-signin-heading">Get Code</h2>
      <p>A reset code will be sent to this email address (if valid)</p>
      <input type="text" class="form-control" name="username" placeholder="Email"  autofocus="" /><!--required=""-->    
      <label class="checkbox">
        <input type="checkbox" value="admin" id="admin" name="admin"> Reset Admin Password
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Get Code</button>
    </form>
  </section>
  <section name="validate-code" class="wrapper-signin">
    <form class="form-signin" method="post" action="/login/reset-password">       
      <h2 class="form-signin-heading">Reset Password</h2>
      <p>Enter email address and reset code</p>
      <input type="text" class="form-control" name="username" placeholder="Email"  autofocus="" /><!--required=""-->  
      <input type="text" class="form-control" name="code" placeholder="Code"  autofocus="" /><!--required=""-->    
      <label class="checkbox">
        <input type="checkbox" value="admin" id="admin" name="admin"> Reset Admin Password
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
    </form>
  </section>
</div>
