<div class="container">
  <section name="get-code" class="wrapper-signin">
    <form class="form-signin" method="POST" action="/login/get-reset-code">       
      <h2 class="form-signin-heading">Get Code</h2>
      <p>A reset code will be sent to your email address</p>
      <input type="text" class="form-control" name="email" placeholder="Email"  autofocus="" /><!--required=""-->    
      <label class="checkbox">
        <input type="checkbox" value="admin" id="admin" name="admin"> Reset Admin Password
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Get Code</button>
    </form>
    {{#if isInValid}}
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      Enter a valid email address
    </div>
    {{else if sentEmail}}
    <div class="alert alert-success" role="alert">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      A reset link has been sent if the email address was found.<br>This may take a few minutes.
    </div>
    {{/if}}
  </section>
</div>
<link rel="stylesheet" type="text/css" href="../public/login.css">